*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/background.jpg);
    background-size:cover;
    background-position: center;
}  
.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content:right;
}
.name{
    cursor: pointer;
    font-size: x-large;
    color: #F5D5AE;
    text-align: left;
    opacity: 50%;
    display: inline;
    position: absolute;
    padding-left: 10rem;
    padding-top: 4rem;
}
.navbar ul li{
    padding-top: 10px;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding-right: 10px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;


}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.para{
    color: white;
    text-align: left;
    padding-left: 5rem;
    padding-top: 10rem;
}
.pages{
    text-align: left;
    color: rgb(50, 160, 179);
    padding-left: 7rem;
}
button{
    width:200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 25px;
}